In [2]:
#import thư viện
import sklearn.datasets as datask
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [3]:
#đọc dữ liệu
X_diabetes, y_diabetes = datask.load_diabetes(return_X_y = True)
print(type(X_diabetes))
print("kích thước tập train: ", X_diabetes.shape)
print("kích thước tập test: ", y_diabetes.shape)

<class 'numpy.ndarray'>
kích thước tập train:  (442, 10)
kích thước tập test:  (442,)

In [4]:
#phân tích dữ liệu
x_features = pd.DataFrame(X_diabetes, columns = ['age','sex','bmi','bp','s1 tc','s2 ldl','s3 hdl','s4 tch','s5 ltg','s6 glu'])
x_features.head()

,age,sex,bmi,bp,s1 tc,s2 ldl,s3 hdl,s4 tch,s5 ltg,s6 glu
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [5]:
x_features.describe()

,age,sex,bmi,bp,s1 tc,s2 ldl,s3 hdl,s4 tch,s5 ltg,s6 glu
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02
mean,-3.634285e-16,1.308343e-16,-8.045349e-16,1.281655e-16,-8.835316e-17,1.327024e-16,-4.574646e-16,3.777301e-16,-3.830854e-16,-3.412882e-16
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123996e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260974e-01,-1.377672e-01
25%,-3.729927e-02,-4.464164e-02,-3.422907e-02,-3.665645e-02,-3.424784e-02,-3.035840e-02,-3.511716e-02,-3.949338e-02,-3.324879e-02,-3.317903e-02
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670611e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947634e-03,-1.077698e-03
75%,3.807591e-02,5.068012e-02,3.124802e-02,3.564384e-02,2.835801e-02,2.984439e-02,2.931150e-02,3.430886e-02,3.243323e-02,2.791705e-02
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320442e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335990e-01,1.356118e-01

In [11]:
# quan sát đặc trưng của target
y_label = pd.DataFrame(y_diabetes, columns=['qmodp'])
y_label.describe()

            qmodp
count  442.000000
mean   152.133484
std     77.093005
min     25.000000
25%     87.000000
50%    140.500000
75%    211.500000
max    346.000000

In [12]:
#ghép input với output vào 1 dataframe
diabetes = pd.concat([x_features,y_label],axis=1)
diabetes.head()

,age,sex,bmi,bp,s1 tc,s2 ldl,s3 hdl,s4 tch,s5 ltg,s6 glu,qmodp
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [43]:
#tách tập train và test 75-25
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_features,y_label, test_size=0.2,random_state=50)
print("kích thước tập train: ", len(y_train))
print("kích thước tập test: ", len(y_test))

kích thước tập train:  353
kích thước tập test:  89

In [44]:
#train mô hình
from sklearn.linear_model import LinearRegression

lin_model = LinearRegression(fit_intercept=True)
lin_model.fit(X_train,y_train)

LinearRegression()

In [45]:
#trực quan hóa 
# xx=np.linspace(min(X_train),max(X_train)).reshape(-1,1)
# plt.scatter(X_train,y_train,color='blue')
# plt.plot(xx,lin_model.predict(xx),color="red",linewidth=3)
# plt.xlabel("x")
# plt.ylabel("y")
# plt.show()

In [46]:
from sklearn.metrics import mean_squared_error, r2_score
# dự đoán
y_pred = lin_model.predict(X_test)
# đánh giá độ chính xác của mô hình
rmse = (np.sqrt(mean_squared_error(y_pred,y_test)))
print(rmse)
r2 = r2_score(y_pred,y_test)
print(r2)

51.487264960611355
0.1337926342769188